{% if equipo.twitter %}
    <a href="https://twitter.com/{{ equipo.twitter }}" target="_blank">
        <span class="p-1 socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
    </a>
{% endif %}
{% if equipo.facebook %}
    <a href="https://www.facebook.com/{{ equipo.facebook }}" target="_blank">
        <span class="p-1 socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
    </a>
{% endif %}
{% if equipo.instagram %}
    <a href="https://www.instagram.com/{{ equipo.instagram }}/" target="_blank">
        <span class="p-1 socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
    </a>
{% endif %}
{% if equipo.youtube %}
    <a href="https://www.youtube.com/channel/{{ equipo.youtube }}" target="_blank">
        <span class="p-1 socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
    </a>
{% endif %}