<P><STRONG>{{ nombre }} </STRONG> Gracias por contactar con nosotros, en breve nos pondremos en contacto contigo.</P>
<BR>
<P>Un saludo, <BR>
Equipo PREMADE
</P>
<BR>
--
<BR><BR>
<em>{{ mensaje }}</em>