{% extends '@SymfonyBundle/Form/bootstrap_4_layout.html.twig' %}

{# Widgets #}
{# Errors #}

{% block form_errors -%}
    {%- if errors|length > 0 -%}
        <span class="{% if form is not rootform %}invalid-feedback d-inline-block{% else %}alert alert-danger{% endif %}">
            {%- for error in errors -%}
                <span class="mb-0 d-block">
                    <span class="initialism form-error-icon badge badge-danger">{{ 'Error'|trans({}, 'validators') }}</span> <span class="form-error-message">{{ error.message }}</span>
                </span>
            {%- endfor -%}
        </span>
    {%- endif %}
{%- endblock form_errors %}
