<section class="header6 cid-qN1CJaHQSt mbr-fullscreen" data-bg-video="https://www.youtube.com/watch?v={{ proyecto.url }}" id="header6-18">
    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(0, 0, 0); background-image: '{{ asset('assets/images/02.jpg') }}'"></div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">
                    {{ proyecto.nombre }}
                </h1>
            </div>
        </div>
    </div>

    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>