<section class="features1 cid-qN1aDlnJQf" id="features1-5">
    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <i class="fas fa-video"></i>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">
                        CORTOMETRAJES
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Son la razón de la creación de PREMADE. <br> Nos dedicamos a realizar pequeñas obras cinematográficas de las cuales algunas de ellas han sido premiadas en festivales.
                    </p>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <i class="fas fa-film"></i>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">
                        DOCUMENTALES
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Dejamos aparte la ficción para representar la realidad social con todas las posibilidades audiovisuales a nuestro alcance.
                    </p>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <i class="fas fa-music"></i>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">
                        VIDEOCLIPS
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Trabajamos con el cantante o musico desde el nacimiento de una idea, pasando por la producción y realización para crear piezas audiovisuales llamativas y con mucho estilo.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>