{% extends 'base_admin.html.twig' %}

{% block body %}

    {% if type == 'edit' %}
        {% include 'blocks/admin/header.html.twig' with {
            'title': 'Editar "' ~ proyecto.nombre ~ '"',
            'addPath': path('proyectos_new', {'id': proyecto.id}),
            'deletePath': path('proyectos_delete', {'id': proyecto.id})
            }
        %}
    {% else %}
        {% include 'blocks/admin/header.html.twig' with {
            'title': 'Nuevo Proyecto',
            'returnPath': path('admin_proyectos_index')
            }
        %}
    {% endif %}

    <div class="container pl-4 pt-4 pb-5">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="text-center">
            <div class="text-center">
                {% if type == 'edit' %}
                    <input type="submit" class="btn btn-primary" value="Editar" />
                {% else %}
                    <input type="submit" class="btn btn-primary" value="Nuevo" />
                {% endif %}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
