<div class="mbr-gallery-item mbr-gallery-item--p2 video-slide"
     data-video-url="https://www.youtube.com/watch?v={{ proyecto.url }}">
    <div href="#lb-gallery1-19" data-slide-to="{{ id }}" data-toggle="modal">
        <div></div>
        <img alt="" src="https://img.youtube.com/vi/{{ proyecto.url }}/0.jpg">
        <i class="far fa-play-circle icon-video"></i>
        <span class="mbr-gallery-title mbr-fonts-style display-7">
            {{ proyecto.nombre }}
        </span>
    </div>
</div>