{% trans_default_domain 'FOSUserBundle' %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="container mt-5 pt-2 pb-5">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72"
                 height="72">
            <h1 class="h3 mb-3 font-weight-normal">Inicia sesión</h1>
            <form action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}
                <label for="username" class="sr-only">Email</label>
                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" placeholder="Enter username" />
                <label for="inputPassword" class="sr-only">Password</label>
                <input class="form-control" type="password" id="password" name="_password" required="required" autocomplete="current-password" placeholder="Enter password" />
                <div class="checkbox mb-3">
                    <label><input type="checkbox" value="" checked>Remember me</label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Inicia sesión</button>
                <p class="mt-5 mb-3 text-muted">&copy;2018</p>
            </form>
        </div>
    </div>
</div>