<section class="mbr-section article content9 cid-qN1aUeHEAY pt-5 pb-5" id="content9-7">
    <div class="container">
        <div class="inner-container" style="width: 100%;">
            <h2 class="align-center mbr-fonts-style display-2">{{ queHacemos.titulo }}</h2>
            <hr class="line" style="width: 25%;">
            <div class="section-text align-center mbr-fonts-style display-5">
                {{ queHacemos.contenido }}
            </div>
            <hr class="line" style="width: 25%;">
        </div>
    </div>
</section>