{{ form_start(buscadorForm) }}
<div class="row">
    <div class="col-md-10 col-12">{{ form_widget(buscadorForm) }}</div>
    <div class="col-md-2 col-12">
        <div class="align-center mt-4">
            <input type="submit" class="btn btn-primary w-75" value="Filtrar"/>
        </div>
    </div>
</div>
{{ form_end(buscadorForm) }}