<section class="cid-qN1akL9ytS" id="footer1-3">
    <div class="container">
        <div class="media-container-row content text-white">
            <div class="col-12 col-md-3">
                <div class="media-wrap">
                    <a href="{{ path('homepage') }}">
                        <img src="{{ asset(other_img_route ~ 'full_logo128.png') }}" alt="Premade">
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Contacto
                </h5>
                <p class="mbr-text">
                    <i class="fas fa-mobile-alt"></i> 691356766 /
                    <i class="fas fa-mobile-alt"></i> 690808576 /
                    <i class="fas fa-mobile-alt"></i> 660841950 <br>
                    <i class="fas fa-envelope"></i> contacto@premade.es
                </p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Links
                </h5>
                <p class="mbr-text">
                    <a class="text-primary" href="https://mobirise.com/">Estatutos</a>
                    <br>
                    <a class="text-primary" href="https://mobirise.com/mobirise-free-win.zip">Ficha Inscripción</a>
                </p>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-sm-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-7">
                        © Copyright 2018 Premade - All Rights Reserved
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="social-list align-right">
                        <div class="soc-item">
                            <a href="https://twitter.com/premade13" target="_blank">
                                <i class="fab fa-twitter mbr-iconfont-social"></i>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href=" https://www.facebook.com/cinepremade/?ref=br_rs" target="_blank">
                                <i class="fab fa-facebook-f mbr-iconfont-social"></i>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href=" https://www.youtube.com/channel/UCCdOEbEk5P8vNcu_ZOCDYCw" target="_blank">
                                <i class="fab fa-youtube mbr-iconfont-social"></i>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://instagram.com/cinepremade" target="_blank">
                                <i class="fab fa-instagram mbr-iconfont-social"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>